$enable-gradients:true;

body {
    background-image: linear-gradient(to bottom, rgb(91, 183, 245), rgb(67, 47, 182));
}

.box {
    background-color: rgb(134, 180, 240);
    color: darkblue;
    margin: 20pt;
    padding: 10pt 10pt 10pt 10pt;
    border-radius: 5pt;
}

.card {
    margin-top: 5pt;
    margin-bottom: 5pt;
}

$smallwid: 900px;
$uppermargin: 1cm;
$bgcolor: lightblue;

@media (min-width: $smallwid) {
    .space {
        background-color: $bgcolor;
        margin: $uppermargin 20%;
    }
}

@media (max-width: $smallwid - 1) {
    .space {
        background-color: $bgcolor;
        margin: $uppermargin 10%;
    }
}
