$enable-gradients:true;

body {
    background-image: linear-gradient(to bottom, rgb(91, 183, 245), rgb(67, 47, 182));
    background-repeat: no-repeat;
}

// .space configuration -----------------------

$bigwid: 30cm;
$smallwid: 20cm;
$uppermargin: 0;
$bgcolor: lightblue;

.space {
    background-color: $bgcolor;
    font-size: 14pt;
    font-family: Verdana;
    padding-bottom: 20pt;
}

@media screen and (min-width: $bigwid) {
    .space {
        margin: $uppermargin 15%;
    }
}

@media screen and (max-width: $bigwid) and (min-width: $smallwid) {
    .space {
        margin: $uppermargin 10%;
    }
}

@media screen and (max-width: $smallwid) {
    .space {
        margin: 0;
    }
}

//other elements ------------------------------

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-width: 0 2pt;
    border-style: solid;
    border-color: blue;

    th, td {
        border-width: 2pt 0;
        border-style: solid;
        border-color: blue;
        padding: 3pt;
    }

    th {
        background-color: rgb(150, 196, 218);
        font-size: 14pt;
        font-weight: bold;
    }

    td {
        background-color: rgb(212, 232, 233);
    }

    #TE, #TM {
        font-size: 14pt;
    }
}

p {
    margin: 20pt;
    text-align: justify;
    font-size: 14pt;
}

ol {
    margin: 20pt;
}

h1, h2 {
    text-align: center;
}

.image {
    margin: 20pt;

    img {
        border-radius: 15pt;
        width: 60%;
        background-color: white;
    }
}

.box {
    background-color: rgb(134, 180, 240);
    color: darkblue;
    margin: 20pt;
    padding: 10pt;
    border-radius: 5pt;
}

.card {
    margin-top: 5pt;
    margin-bottom: 15pt;
    text-align: center;
}

