$enable-gradients:true;

body {
    background-image: linear-gradient(to bottom, rgb(91, 183, 245), rgb(67, 47, 182));
}

// .space configuration

$bigwid: 300mm;
$smallwid:150mm;
$uppermargin: 1cm;
$bgcolor: lightblue;

.space {
    background-color: $bgcolor;
}

@media screen and (min-width: $bigwid) {
    .space {
        margin: $uppermargin 15%;
    }
}

@media screen and (max-width: $bigwid) and (min-width: $smallwid) {
    .space {
        margin: $uppermargin 10%;
    }
}

@media screen and (max-width: $smallwid) {
    .space {
        margin: 0;
    }
}

//other elements

p {
    margin: 20pt;
    text-align: justify;
}

ol {
    margin: 20pt;
}

h1, h2 {
    text-align: center;
}

.image {
    margin: 20pt;

    img {
        border-radius: 15pt;
    }
}

.box {
    background-color: rgb(134, 180, 240);
    color: darkblue;
    margin: 20pt;
    padding: 10pt;
    border-radius: 5pt;
}

.card {
    margin-top: 5pt;
    margin-bottom: 15pt;
    text-align: center;
}

